<footer class="ftco-footer">
    <div class="container-xl">
        <div class="row mb-5 pb-5 justify-content-between">
            <div class="col-md-6 col-lg">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2 logo d-flex">
                        <a
                            class="navbar-brand align-items-center"
                            href="/portfolio/hotel-booking"
                        >
                            <span class=""
                                >Кралска Градина <small
                                    >Хотелска Резервация</small
                                ></span
                            >
                        </a>
                    </h2>
                    <p>
                        Луксозно преживяване в сърцето на природата. Насладете
                        се на незабравима почивка с нашите първокласни услуги.
                    </p>
                    <ul class="ftco-footer-social list-unstyled mt-2">
                        <li>
                            <a href="#"><span class="fa fa-twitter"></span></a>
                        </li>
                        <li>
                            <a href="#"><span class="fa fa-facebook"></span></a>
                        </li>
                        <li>
                            <a href="#"><span class="fa fa-instagram"></span></a
                            >
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Услуги</h2>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="ftco-footer-widget mb-4">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#"
                                        ><span class="fa fa-chevron-right me-2"
                                        ></span>Безплатен Wi-Fi</a
                                    >
                                </li>
                                <li>
                                    <a href="/portfolio/hotel-booking/rooms"
                                        ><span class="fa fa-chevron-right me-2"
                                        ></span>Лесна резервация</a
                                    >
                                </li>
                                <li>
                                    <a href="/portfolio/hotel-booking/resto-bar"
                                        ><span class="fa fa-chevron-right me-2"
                                        ></span>Ресторант</a
                                    >
                                </li>
                                <li>
                                    <a href="/portfolio/hotel-booking/about"
                                        ><span class="fa fa-chevron-right me-2"
                                        ></span>Плувен басейн</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="ftco-footer-widget mb-4">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="/portfolio/hotel-booking/about"
                                        ><span class="fa fa-chevron-right me-2"
                                        ></span>Красота и здраве</a
                                    >
                                </li>
                                <li>
                                    <a href="/portfolio/hotel-booking/contact"
                                        ><span class="fa fa-chevron-right me-2"
                                        ></span>Помощ и поддръжка</a
                                    >
                                </li>
                                <li>
                                    <a href="#"
                                        ><span class="fa fa-chevron-right me-2"
                                        ></span>60" LCD Телевизор</a
                                    >
                                </li>
                                <li>
                                    <a href="#"
                                        ><span class="fa fa-chevron-right me-2"
                                        ></span>Климатизация</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-2">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Бързи връзки</h2>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/portfolio/hotel-booking"
                                ><span class="fa fa-chevron-right me-2"
                                ></span>Начало</a>
                        </li>
                        <li>
                            <a href="/portfolio/hotel-booking/about"
                                ><span class="fa fa-chevron-right me-2"
                                ></span>За нас</a>
                        </li>
                        <li>
                            <a href="/portfolio/hotel-booking/rooms"
                                ><span class="fa fa-chevron-right me-2"
                                ></span>Стаи</a>
                        </li>
                        <li>
                            <a href="/portfolio/hotel-booking/resto-bar"
                                ><span class="fa fa-chevron-right me-2"
                                ></span>Ресторант и Бар</a>
                        </li>
                        <li>
                            <a href="/portfolio/hotel-booking/blog"
                                ><span class="fa fa-chevron-right me-2"
                                ></span>Блог</a>
                        </li>
                        <li>
                            <a href="/portfolio/hotel-booking/contact"
                                ><span class="fa fa-chevron-right me-2"
                                ></span>Контакт</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Имате въпроси?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li>
                                <span class="icon fa fa-map marker"></span><span
                                    class="text"
                                    >ул. "Планинска" 203, Банско, България</span
                                >
                            </li>
                            <li>
                                <a href="#"
                                    ><span class="icon fa fa-phone"></span><span
                                        class="text">+359 888 123 456</span
                                    ></a
                                >
                            </li>
                            <li>
                                <a href="#"
                                    ><span class="icon fa fa-paper-plane pr-4"
                                    ></span><span class="text"
                                        >info@royalgarden.bg</span
                                    ></a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid px-0 py-5 bg-darken">
        <div class="container-xl">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p
                        class="mb-0"
                        style="color: rgba(255,255,255,.5); font-size: 13px;"
                    >
                        Copyright © {new Date().getFullYear()} Всички права запазени
                        | Този шаблон е преработен от <a
                            href="https://invent2025.org"
                            target="_blank"
                            rel="nofollow noopener">Invent2025</a
                        >
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
