---
import HotelLayout from "../../../layouts/HotelLayout.astro";
import HotelHeader from "../../../components/hotel/HotelHeader.astro";
import HotelFooter from "../../../components/hotel/HotelFooter.astro";
---

<HotelLayout title="Хотел Кралска Градина | Блог">
    <HotelHeader slot="header" activePage="blog" />

    <section
        class="hero-wrap hero-wrap-2"
        style="background-image: url('/wp-templates/hotel-booking/images/bg_1.jpg');"
    >
        <div class="overlay"></div>
        <div class="container">
            <div
                class="row no-gutters slider-text align-items-center justify-content-center"
            >
                <div class="col-lg-10 text-center">
                    <p class="breadcrumbs">
                        <span class="me-2"
                            ><a href="/portfolio/hotel-booking"
                                >Начало <i class="fa fa-chevron-right"></i></a
                            ></span
                        >
                        <span>Блог <i class="fa fa-chevron-right"></i></span>
                    </p>
                    <h1 class="mb-0 bread">Нашият Блог</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section bg-light">
        <div class="container-xl">
            <div class="row justify-content-center mb-5">
                <div
                    class="col-md-7 heading-section text-center"
                    data-aos="fade-up"
                    data-aos-duration="1000"
                >
                    <span class="subheading">Новини</span>
                    <h2>Последни публикации</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex">
                    <div
                        class="blog-entry justify-content-end"
                        data-aos="fade-up"
                        data-aos-duration="1000"
                        data-aos-delay="100"
                    >
                        <div class="text">
                            <p class="meta">
                                <span>Админ</span>
                                <span>Януари 14, 2026</span>
                            </p>
                            <h3 class="heading mb-3">
                                <a href="#"
                                    >Най-добрите места за ски край Банско</a>
                            </h3>
                            <p>
                                Открийте скритите перли на Пирин планина и се
                                насладете на перфектните ски писти.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex">
                    <div
                        class="blog-entry justify-content-end"
                        data-aos="fade-up"
                        data-aos-duration="1000"
                        data-aos-delay="200"
                    >
                        <div class="text">
                            <p class="meta">
                                <span>Админ</span>
                                <span>Януари 10, 2026</span>
                            </p>
                            <h3 class="heading mb-3">
                                <a href="#"
                                    >Как да изберем перфектната хотелска стая</a>
                            </h3>
                            <p>
                                Няколко съвета за това какво да търсите при
                                следващата си резервация.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <HotelFooter slot="footer" />
</HotelLayout>
