---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const { lang = "bg" } = Astro.props;
const t = useTranslations(lang);
---

<header
    class="sticky top-0 z-50 bg-white/80 dark:bg-background-dark/80 backdrop-blur-md border-b border-slate-200 dark:border-border-dark mb-8"
>
    <div class="max-w-7xl mx-auto px-4 flex items-center justify-between h-20">
        <a href={lang === "en" ? "/en" : "/"} class="flex items-center gap-3">
            <img
                src="/assets/invent_2025_logo_icon.svg"
                alt="Invent2025 Logo"
                class="w-10 h-10"
            />
            <span class="text-xl font-bold font-mono"
                >INVENT<span class="text-primary">2025</span></span
            >
        </a>
        <nav class="hidden lg:flex items-center gap-8">
            <a
                class="text-sm font-medium hover:text-primary transition-colors"
                href={lang === "en" ? "/en/ventures" : "/ventures"}
                >{t("nav.products")}</a
            >

            <a
                href={lang === "en" ? "/" : "/en"}
                class="text-sm font-mono font-bold text-slate-500 hover:text-primary transition-colors"
            >
                {lang === "en" ? "BG" : "EN"}
            </a>

            <a
                class="px-5 py-2 rounded-lg bg-primary hover:bg-blue-600 text-white text-sm font-bold"
                href="mailto:kalin.dimitrov@invent2025.org"
                >{t("nav.work_with_us")}</a
            >
        </nav>
    </div>
</header>
